name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    
    - name: Install dependencies
      run: make setup
    
    - name: Run linter
      run: make lint
    
    - name: Run tests
      run: make test

    - name: Print Hello from Hexlet
      uses: hexlet-components/hello-from-hexlet-action@release 
